proxmox_host = "pve"

nic_name   = "vmbr0"
vlan_num   = 10
ip_address = "dhcp"
# For static IP, use format: "192.168.1.100/24,gw=192.168.1.1"

container_template = "local:vztmpl/ubuntu-25.04-standard_25.04-1.1_amd64.tar.zst"

unprivileged    = true
nesting_enabled = false

containers = [
  {
    hostname        = "ubuntu-example"
    description     = "Ubuntu example"
    ostemplate      = "local:vztmpl/ubuntu-25.04-standard_25.04-1_amd64.tar.gz"
    cores           = 2
    memory          = 4096
    rootfs_size     = "20G"
    ip_address      = "dhcp"
    unprivileged    = true
    nesting_enabled = false
    start           = true
  },
]
